html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
}

/* Stile per la schermata di caricamento */
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  z-index: 9999; /* Assicura che stia sopra a tutto */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  transition: opacity 1s ease-out; /* Animazione di dissolvenza */
}

/* Classe per nascondere il loader */
#loading-screen.fade-out {
  opacity: 0;
  pointer-events: none; /* Importante: permette di cliccare attraverso il div invisibile */
}

.loader-content {
  text-align: center;
}